<!doctype html>
<html lang="en">
<head>
  <title>My Family</title>
  <meta name="description" content="Site_WebAlx" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .container {
      padding: 80px 120px;
    }
    .person {
        border: 10px solid transparent;
        margin-bottom: 25px;
        width: 80%;
        height: 80%;
        opacity: 0.7;
    }
    .person:hover {
        border-color: #f1f1f1;
    }
  </style>
</head>
  <body>  
    <div class="container text-center">
      <h3>Familia</h3>
      <p><em>Gerações & Familia</em></p>
      <p>Esta pagina e para contar sobre a gerações das familias no logo dos anos.</p>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <p><strong>Pai</strong></p><br>
          <img src="https://lh3.googleusercontent.com/naCmTXigoi1i5eXuyr8fsVfiO5cKCBNbGbWhQzqnop95R9r73nw-DZQEGGS_mkVHxmXaeuwJnYvR_GmgWplgl1WC6VWCpaxe2cXy4A7kktDexZOsKXY5NnKYz5ombFQEnXdVUEuyuPB9D3BVS0AfILldHU9nigubKWToz4nwIfVpKOwMEQTJAdLK8FzGkCSv-0m368DqgIyfObtqo137W4xu21EqhtxLfYBK8CiTICwNhnyw8X99nNNijH51_8Ac14-kXbjD140iFj2LCfdhqTveXeg11MxOn7Bd_D5xzFOzpYE1zoK7SeJgTVVk0cwVGqFJ6rjoZpsaKzZ-k_DSBlMMRE_ZkXFSYvirzKdoUa0ZKY7MwL2FKf6n8UcReWClO3LF4iql0lHYCkLzr7rHfUerKC8fXTkBv_kZvueVembV3zY8q7S0UOZ8I5HunUqU0XyjBjkWSSXGnGv3I4w96THAs-5usnREa5owJppy75NJE7DmKTPQeCFC56dmIPFJbz78sPxu641h_OzYCo5jQXK1AoWaJTXaXbI6LWQdg4y9y0lhzQLmULpEHyLKrpBuotg6rqk8XWYv8JTNlItONIqR-BE0aEYjgID_y9ZI=w489-h651-no" class="img-circle person" alt="Random Name">
        </div>
        <div class="col-sm-4">
          <p><strong>Mãe</strong></p><br>
          <img src="https://lh3.googleusercontent.com/T1p6LGZl0tEYsX3iNaq4OQ0rABLw2fS1OOIp7lyV84x42tVdV5t_aa9_IZ2ufdvSRfANVqE9e2qzwKx7t8Apyc2W5U2OME6RWmMmNqptFst_atCI2-9Y8vhC5TO2krq6dPTO-NEM0HZaKzRb4XdqWA8j3lAa_-QrGeGRcBCeYCTh2ualUoI4PmUKEDgBhPjFxLjDg87l5eIZx1LZngy05gJ1wh_gj0EA_55CNMQ8EWDHr0Ifc1kDpH6O7IsOh09uM1UGIoDN1bYthzaOOIUinJr2p6CfMBfNrmTV-gALtSEeJUMGD8Ec8yraJkgScVktsB5aBdV9OboGkW4aYmkriksHx-j5ShR4BZSotkqwaJgHr0krVxN3o1ImUVG7V5P-i10f3YBp5Aehgjefpy4W5NgXj8sYTZW3aH7tsVpz1MtzVNfWr-DwDNVTyu0R9lCm0ecHyWsgUqK1fR6JJF87ndrUpujq5nQw6PyxicUDkHXpa-UfbjqEqxlch1fIQZlvBKSNKD2kFCOHH6d68KMjv2IU3PkKtZEIS1rbQKVMXf8h9K8jk9sMVqP6xTNKBhwvEuk6NZ6jkaQ_CiGYoDXLHEXjuIMtAvqOLMfINY4H=w489-h651-no" class="img-circle person" alt="Random Name">
        </div>
        <div class="col-sm-4">
          <p><strong>Filha</strong></p><br>
          <img src="https://lh3.googleusercontent.com/XCieWB2qhsWFuWWaRUlidiq3Mgf1I5SfdVBGD8sz8YzH3stI0tetDfKacshjeKFI5VEXu-ft3ZOv4j3MF-VHXuAgfSOy98hC4ys5yle2--7XA2UscL-0NibmntmYKjA3QqajpYRmbtwhqPNs6DcDB7uwyIFAiBUIB810MRPvFSm-5EhbkRp7Lh1vTo6H0CWFmkRSw7_spsejLfhc09j90fmG5By4JykaZfBFqBUrWcrbfbpCOOCNRpMX7aFB1CT5t32HMZ6jIwsRddZHs_13MSrKpp47qkDkBqH-JxLJe2nX9tOt97nkWc4_3GuqEX7XQNkjvAZEWE91D5Y2BLRH080IOvVC3K0bfEYXEazc5AKDRuouiBqr2Nn0Dvym6D16DC5n7tNhXRMaKsrBLfHYOSWex_P2nLg3Sg45QAim6fD5PHdHxF2IYSNzqqQRmL6REIH0cSq9Jb6nUqLdAaHRk06JjepOmCtHf4hY4yOGpSgDcvcS4V_c0ivvOsS92TJvLWqhiDJDXy3nv8cRfj6ZbkeSDgE1iSvRUGBmo0yn7N5dNSOEfPHZZlVx5F005rk6gzkEE1AIzX7Iw8UQ0cBVz2Scm5ctEVglAV5piUoU=w489-h651-no" class="img-circle person" alt="Random Name">
        </div>
      </div>
    </div>
  </body>
</html>